.features {

	&-holder {
		display:flex;
		flex-wrap:wrap;
	}

	&-item {
		@extend %bg-cover;
		position:relative;
		width:25%;
		height:rem-calc(320px);
		background-color:#333;

		@include breakpoint(small only) {
			width:50%;
			height:rem-calc(150px);
		}

		&:hover {
			.features-item-description {
				opacity:0;
			}
		}

		img {
			display:block;
			width:auto;
			height:100%;
		}

		&.max-item {
			width:50%;

			@include breakpoint(small only) {
				width:100%;
			}
		}


		&-description {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			background:rgba(0, 0, 0, .6);
			transition:opacity $transition-time ease-in-out;
			display:flex;
			justify-content:center;
			align-items:center;
			text-transform:uppercase;
			color:$white;

			a{
				color:inherit;
			}
		}

	}

	&-form {
		@extend %bg-cover;
		padding:rem-calc(15px 0);
		background-image: url(/assets/img/img-06.jpg);
		background-color: map-get($foundation-palette, success);
		color:$white;

		@include breakpoint(medium) {
			font-size:rem-calc(18);
		}

		.button {
			margin:0;
		}
	}
}