.header {
	.visual & {
		position:absolute;
		top:0;
		width:100%;

		@include breakpoint(smal only) {
	    	position:static;
		}
	}
	.top-bar-left {

		@include breakpoint(small only) {
	    	position:absolute;
	    	left:13px;
   			top:20px;
		}
	}

	.title-bar {
		background:transparent;

		@include breakpoint(small only) {
	    	justify-content:flex-end;
		}
	}

	.top-bar{
		flex-wrap:wrap;
		width:100%;
		padding:rem-calc(15px 5px);

		@include breakpoint(medium) {
	    	padding:rem-calc(20px 20px);
		}

		@include breakpoint(small only) {
	    	align-items:flex-start;
		}

		&,
		& ul {
			background-color:transparent;
		}
	}
}