.icon-list {
	display:flex;
	justify-content:center;
	list-style:none;
	margin-left:0;

	li {
		margin:0 5px;
	}

	a {	
		@include round(30px);
		background:$dark-gray;
		color:$white;
		display:flex;
		align-items:center;
		justify-content:center;
		transition:background $transition-time ease-in-out;

		&:hover {
			background:map-get($foundation-palette, success);
		}
	}

	&.white {
		a {
			background:$white;
			color:$black;
		}
	}
}