.menu {

	.header & {

		@include breakpoint(small  only) {
			padding-top:rem-calc(15);
		}

		@include breakpoint(medium) {
	    	justify-content: center;
	    	padding-top:rem-calc(15);
		}

		@include breakpoint(large) {
	    	font-size:rem-calc(16);
		}

		
		li {
			margin-right:rem-calc(2);
		}

		a {
			color:$white;
			border:1px solid transparent;
			border-radius:20px;
			transition:border-color $transition-time ease-in-out;
			text-align:center;
		}

		.is-active>a,
		a:hover {
			background:transparent;
			border-color:$white;
		}
	}
}