.section {
	padding:rem-calc(20px 0);

	&.no-pad-bot{
		padding-bottom:0;
	}

	@include breakpoint(medium) {
    	padding:rem-calc(30px 0);
	}

	@include breakpoint(large) {
    	padding:rem-calc(40px 0);
	}
	
	&-promo {

		@include breakpoint(small only) {
	    	text-align:center;
		}

		h2,
		p {
			margin-bottom:rem-calc(30);

			@include breakpoint(small only) {
		    	margin-bottom:rem-calc(15);
			}
		}

		.img-holder {
			order:1;

			@include breakpoint(small only) {
		    	order:0;
		    	padding-bottom:rem-calc(10);
			}
		}
	}

	h2 {
		@include breakpoint(small only) {
		    text-align:center;
		}
	}

	&-header {
		text-align:center;
		max-width:500px;
		margin:0 auto 30px;

		@include breakpoint(small only) {
	    	margin:0 auto 15px;

		}
	}
}
