.visual {
	@extend %bg-cover;
	min-height:100vh;
	background-color:$medium-gray;
	position:relative;
	color:$white;
	display:flex;
    flex-flow:column wrap;
    justify-content:space-between;

	&-content {
		max-width:630px;
		padding:rem-calc(5);
		text-align:center;
		display:flex;
		justify-content:center;
		align-content:center;
		align-items:center;
		margin:0 auto;
		padding-bottom:rem-calc(40);
		flex:auto;
	}
		
}