<form action="#">
  <div class="row">
    <div class="small-12 medium-4 columns">
        <input type="text" placeholder="Your name">
    </div>
    <div class="small-12 medium-4 columns">
        <input type="email" placeholder="Email address">
    </div>
    <div class="small-12 medium-4 columns">
        <input type="email" placeholder="Subject">
    </div>
    <div class="columns small-12">
      <textarea></textarea>
    </div>
    <div class="columns small-12">
      <input class="button expanded  success" type="submit" value="SUBMIT NOW" />
    </div>
  </div>
</form>