<section class="section bg-secondary">
  <div class="row  align-center">
    <div class="columns medium-10">
      
      {{>header-section heading="DetailS ABOUT BOUNCY" text="At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium"}}
      
      <ul class="icon-list">
        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a></li>
      </ul>

      <h2>Creative Ideas</h2>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <p>At <mark>vero</mark> eos et accusamus et iusto odio <strong>dignissimos</strong> ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores </p>
        </div>
        <div class="small-12 medium-8 columns">
          <p>At <mark>vero</mark> eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <mark>corrupti quos</mark> dolores et quas molestias <strong>excepturi</strong> sint occaecati cupiditate non provident, <strong>similique</strong> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r</p>
        </div>
      </div>
    </div>
  </div>

</section>