<div class="features">
  <div class="features-holder">
    <div class="features-item max-item"  style="background-image: url({{root}}assets/img/img-03.jpg)">
      <a href="#"><span class="features-item-description">work</span></a>
    </div>
    <div class="features-item" style="background-image: url({{root}}assets/img/img-04.jpg)">
      <a href="#"><span class="features-item-description">VINTAGE</span></a>
    </div>
    <div class="features-item" style="background-image: url({{root}}assets/img/img-05.jpg)">
      <a href="#"><span class="features-item-description">Branding</span></a>
    </div>
  </div>
  <div class="features-form dark-area">
    <div class="row align-middle">
      <div class="columns"><span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</span></div>
      <div class="shrink columns"><a href="#" class="button hollow white">Submit Now</a></div>
    </div>
  </div>
</div>