<footer class="footer section">
	<p><a href="#" class="logotype"><img src="{{root}}assets/img/logotype.png" alt="BOUNCY" /></a></p>
	<p>Copyright 2015. All rights Reserved</p>
	{{> social-list}}
</footer>