<header class="header">
	<div class="row">
		<div class="top-bar">
		  <div class="top-bar-left">
		    <a href="#" class="logotype"><img src="{{root}}assets/img/logotype.png" alt="BOUNCY" /></a>
		  </div>
		  <div class="top-bar-right">
		  	<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium" >
			  <button class="menu-icon" type="button" data-toggle="main-menu"></button>
			</div>
		  	<ul  class="vertical medium-horizontal menu" id="main-menu" data-responsive-menu="accordion medium-dropdown"  data-dropdown-menu>
		      <li class="is-active"><a href="#">Hello</a></li>
		      <li><a href="#">About</a></li>
		      <li><a href="#">Services</a></li>
		      <li><a href="#">Portfolio</a></li>
		      <li><a href="#">Team</a></li>
		      <li><a href="#">Blog</a></li>
		      <li><a href="#">Contact</a></li>
		    </ul>
		  </div>
		</div>
	</div>

</header>