<section class="section section-promo">
  <article>
    <div class="row align-center">
      <div class="columns medium-3 small-12 text-center img-holder"><img src="{{root}}assets/img/img-02.png" alt="image description" /></div>
      <div class="columns medium-5 small-12">
        <h2>This is Bouncy</h2>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
        <a href="#" class="button secondary hollow">read more</a>
      </div>
      
    </div>
  </article>
</section>