<ul class="icon-list white">
	<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
</ul>