<section class="visual" style="background-image: url({{root}}assets/img/img-01.jpg)">
  {{> header}}
  <div class="visual-content">
  	<div class="visual-frame"><h1>We Are Code Cafe</h1>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>
    
  </div>
</section>